<h2 class="mat-h2">Paciente: {{consulta.paciente.nombres}} | Fecha de Consulta: {{consulta.fecha | date:'dd-MM-yyyy'}}
</h2>
<mat-card class="example-card" *ngFor="let d of consulta.detalleConsulta">
    <mat-card-header>
        <mat-card-title>Diagnostico</mat-card-title>
        <mat-card-subtitle>{{d.diagnostico}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{d.tratamiento}}
        </p>
    </mat-card-content>
</mat-card>

<mat-card class="example-card" *ngFor="let ex of examenes">
    <mat-card-header>
        <mat-card-title>Examenes</mat-card-title>
        <mat-card-subtitle>{{ex.examenes.nombre}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
          {{ex.examenes.descripcion}}
        </p>
    </mat-card-content>
</mat-card>

<button mat-raised-button color="accent" (click)="cancelar()" style="float: right">Cerrar</button>
