<div>
    <!-- Este bloque contine la data del dialog-->
    <mat-form-field>
        <input matInput placeholder="Nombre" [(ngModel)]="examen.nombre" max="50" maxlength="50">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Descripcion" [(ngModel)]="examen.descripcion" max="150" maxlength="150">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Estado" [(ngModel)]="examen.estado">
    </mat-form-field>      
</div>
<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>